 .negative {
    color: rgb(73, 73, 73) !important;
}

.positive {
    color: green !important;
}

.border {
    border: solid;
    border-color: black;
    border-radius: 12px !important;
  }


.nav-color {
    background-color: #161929 !important;
    /* background-color: #222F3D !important; */
}

.component-color {
    background-color: #636363 !important;
}

.component-color2 {
    background-color: #3d3d3c !important;
}

.main-color {
    background-color: #7992A9 !important;
    /* background-color: #6E8CAE !important; */
}

.smallcomponent-color {
    background-color: #83AAD2 !important;
}

/* p {
    color: white;
}

span {
    color: white;
}

label {
    color : white
} */