.main-color {
  background-color: #1e1e1e !important;
}

.main-color-light {
  background-color: #252526 !important;
}

.component-color {
  background-color: #303030 !important;
}

.smallcomponent-color {
  background-color: #2d2d2d !important;
}

/* 
html {
  overflow-y: hidden !important;
} */

body {
  height: 100%;
}

::-webkit-scrollbar {
  /* 스크롤 크기 */
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  /* 스크롤 배경색 */
  background-color: #252526;
}

::-webkit-scrollbar-thumb {
  /* 스크롤 색 */
  background: #f0f0f0f1;
  border-radius: 10px;
}

::-webkit-scrollbar-button {
  /* 스크롤 화살표 버튼 없앰 */
  display: none;
}

.home_background {
  background-color: #252526 !important;
  height: 100%;
}

p {
  color: #ffffffbb;
  letter-spacing: 1.5px;
}

span {
  color: #ffffffbb;
  letter-spacing: 1.5px;
}

.text-color {
  color: #ffffffbb !important;
}

.medium {
  font-size: 16px !important;
}

.large {
  font-size: 20px !important;
}

.Vue-Toastification__toast--default.custom-toast {
  background-color: #101010bf;
}
